@media only screen and (max-width: 998px) {
  .cstm-nav {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start !important;
    align-items: baseline !important;
  }
  .navBtnSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .abt-row {
    gap: 2.5rem;
  }
  .partnerBtnDiv {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  }
  .specialtiesColDiv {
    margin-bottom: 5rem;
  }
  .numberDiv {
    left: -3%;
  }
}
@media only screen and (min-width: 768px) {
  .specialtiesContainer {
    min-height: 25rem;
  }
  .specialtiesColDiv {
    margin-top: 3rem;
  }
}
